name: GCC Rust build and test

on:
  push:
    branches:
      - trying
      - staging
  pull_request:
    branches: [master]
  merge_group:

env:
  ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true
  # Force locale, in particular for reproducible results re '.github/log_expected_warnings' (see below).
  LC_ALL: C.UTF-8

jobs:
  build-and-check-ubuntu-64bit:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - id: build-and-test
        uses: ./.github/actions/build-gcc
        with:
          extra-configure-env: ''
          run-test-flags: '--target_board=unix\{-m64}'
          warning-file: 'log_expected_warnings'
          enable-multilib: false

  build-and-check-ubuntu-64bit-glibcxx:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - id: build-and-test
        uses: ./.github/actions/build-gcc
        with:
          extra-configure-env: ''
          run-test-flags: '--target_board=unix\{-m64}'
          warning-file: 'glibcxx_ubuntu64b_log_expected_warnings'
          glibc-assertion: true
          enable-multilib: false
          bootstrap: false

  # This is redundant with 64bit as we are doing multilib. Should build once and test both.
  build-and-check-ubuntu-32bit:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - id: build-and-test
        uses: ./.github/actions/build-gcc
        with:
          extra-configure-env: ''
          run-test-flags: '--target_board=unix\{-m32}'
          warning-file: 'log_expected_warnings'
          glibc-assertion: true
          enable-multilib: true
          bootstrap: false

  build-and-check-gcc-5:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - id: build-and-test
        uses: ./.github/actions/build-gcc
        with:
          extra-configure-env: ''
          run-test-flags: '--target_board=unix\{-m32,-m64}'
          glibc-assertion: false
          use-old-gcc: '5.4.0'
          enable-multilib: true
          bootstrap: false

  build-and-check-asan:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - id: build-and-test
        uses: ./.github/actions/build-gcc
        with:
          extra-configure-env: ''
          run-test-flags: '--target_board=unix\{-m64}'
          glibc-assertion: false
          enable-multilib: true
          extra-configure-args: "--with-build-config=../.github/no-bootstrap-asan"
          bootstrap: false
